/* ================================
   SKILLS SECTION
================================ */

.skills-section {

    padding: 80px 0;

}


.skills-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 25px;

    margin-top: 25px ;

    align-items: start;

    width: 100%;

}



/* ================================
   SKILL CARD
================================ */


.skill-card {

    background: var(--card-bg);

    border: 1px solid var(--border);

    border-radius: 16px;

    padding: 25px 20px;

    min-height: 170px;

    cursor: pointer;

    text-align: center;

    position: relative;

    overflow: hidden;

    transition:
        border-color .3s ease,
        background .3s ease,
        opacity .3s ease,
        filter .3s ease;


}



/* brilho interno */

.skill-card::before {


    content:"";

    position:absolute;

    inset:0;


    background:
    radial-gradient(
        circle at top,
        var(--skill-color),
        transparent 60%
    );


    opacity:0;


    transition:.4s;


}



/* manter conteúdo acima do brilho */

.skill-card > * {

    position:relative;

    z-index:1;

}



/* ================================
   HOVER NORMAL
================================ */


.skill-card:hover {


    border-color:var(--skill-color);


}



/* ================================
   ACTIVE CARD
================================ */


.skill-card.active {


    min-height:340px;


    border-color:var(--skill-color);

    padding: 10px 15px ;

    background:
    linear-gradient(
        180deg,
        rgba(255,255,255,.03),
        rgba(0,0,0,.2)
    );


}



.skill-card.active::before {


    opacity:.18;


}



/* ================================
   OUTROS CARDS
================================ */


.skill-card.inactive {


    opacity:.35;


    filter:
    grayscale(40%);


}


/* ================================
   ICON
================================ */

.skill-icon {

    width: 70px;
    height: 70px;

    margin: 0 auto 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

}


.skill-icon img {

    width: 45px !important;

    height: 45px !important;

    max-width: 100%;

    max-height: 100%;

    object-fit: contain;

    display: block;

    transition: .3s ease;

}



.skill-card.active .skill-icon img {

    transform: scale(1.15);

    filter:
    drop-shadow(
        0 0 12px var(--skill-color)
    );

}


/* ================================
   DETAILS
================================ */


.skill-details {


    margin-top:20px;

    text-align:left;


}



.skill-details ul {


    list-style:none;

    padding:0;


}



.skill-details li {


    color:var(--text-dim);

    font-size:.9rem;

    margin-bottom:10px;


}



.skill-details li::first-letter {


    color:var(--skill-color);


}



/* ================================
   RESPONSIVE
================================ */

@media (max-width: 992px) {

    .skills-grid {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media (max-width: 576px) {

    .skills-grid {

        grid-template-columns: 1fr;

    }

}

/* ==========================
   SKILL MODAL
========================== */


.skill-overlay{

    position:fixed;

    inset:0;

    background:
    rgba(0,0,0,.75);

    backdrop-filter:blur(8px);

    display:flex;

    align-items:center;

    justify-content:center;

    z-index:999;


}



.skill-modal{


    width:420px;

    max-width:90%;

    min-height:350px;

    background:var(--bg-card);

    border:1px solid var(--skill-color);

    border-radius:25px;

    padding:40px;

    text-align:center;


    box-shadow:

    0 0 40px var(--skill-color);



    position:relative;


}



.skill-modal::before{


    content:"";

    position:absolute;

    inset:0;


    background:

    radial-gradient(

        circle,

        var(--skill-color),

        transparent 70%

    );


    opacity:.15;

    pointer-events:none;


}



.skill-close{


    position:absolute;

    right:20px;

    top:15px;


    background:none;

    border:none;

    color:white;

    font-size:30px;


}



.modal-icon img{


    width:90px;

    height:90px;


}



.skill-modal h2{


    margin:20px 0;

    color:var(--skill-color);


}



.skill-details p{


    color:var(--text-secondary);

    margin:12px 0;

    text-align:left;


}